.headerImage{
	height:805px;
	background-image: url('/assets/images/main.jpg');
}
.headerImageMob{
	height:660px;
	background-image: url('/assets/images/main.jpg');
	background-size: cover;
}
.containerHome{
	max-width:2020px!important;
}
.containerHomeMob{
	max-width:100%!important;
}
.header-logo-pc{
	width:40%;
}
.header-logo-mob{
	width:170px;
}
.flagLanguage{
	max-width:35px;
	max-height:35px;
}
.loginBtnHeader{
	background: transparent;
	border:1px solid #81D8D0;
}
.btnStyleDes{
	background: #A5E9F4;
	border:1px solid #79747E;
	font-weight:bolder;
}
.btnStyleDesB{
	background: transparent;
	border:1px solid #79747E;
	font-weight:bolder;
}
.inputBackgroundStyle{
	background: #A5E9F4;
	color:black;
	border:1px solid black;
}
.inputBackgroundStyleB{
	background: transparent;
	color:black;
	border:1px solid black;
}
.inputBackgroundStyle::placeholder {
  color: black;
  opacity: 1;
}
.headerSlider{
	margin-top:200px;
}
.footerMain{
	background:#000000;
	border-top:6px solid #53C2B8;
}
.backgroundStyleColor{
	border: 1px solid #53C2B8;
	background: #53C2B8;
}
.footerUlStyle ul{
	padding-left:0;
}
.footerUlStyle li{
	list-style-type: none;
}
.headerUserNavbar{
	width:170px;
}
.headerUserNavbar li{
	list-style-type: none;
}
.headerUserNavbarMob{
	width:117px;
}
.footerUlStyle li a{
	color:white;
	text-decoration: none;
}
.footerFollowUsImg{
	margin-left: 11px; 
}
.inputBackground{
	background: #F8F8F8;
	border:1px solid #F8F8F8;
}
.textBlack{
	color:black!important;
	font-weight: bolder;
}
.textBlackNorm{
	color:black!important;
	font-weight: 500;
}
.customStyleCursor:hover{
	cursor: pointer;
}
.themeColorText{
	color:#53C2B8;
}
.stonehengeMobSlider div{
	margin-left:0px;
}
.lineHeightStyle{
	line-height: 19px;
}
.backTabTStyle.active{
	background:#A6E9DE!important;
}
.backTabTStyle{
	font-size:20px;
}
.roundedCustom16{
	border-radius: 16px;
}
.roundedCustom7{
	border-radius: 7px;
}
.textColorTheme{
	color:#20817C;
}
.font-weight-500{
	font-weight: 500;
}
.font-weight-300{
	font-weight: 300;
}
.userProfileImageCircle{
	background:#53C2B8;
	width:55px;
	height:55px;
}
.backgroundCustomLightTheme{
	background:#D3F4EE;
}
.myAddressesIt{
	border:1px solid #53C2B8;
}
.backgroundStyleColor:hover{
	border: 1px solid #2a8179;
	background: #2a8179;
}
.topNavbarTabs button{
	color:#969696;
}
.topNavbarTabs button:hover{
	color:#1D6865;
}
.topNavbarTabs button.active{
	color:#1D6865!important;
}
.topNavbarTabs button{
	width:99%;
}
.topNavbarTabs li{
	width:50%;
	background:#F4F4F4;
}
.themeColorBadge{
	background:#D3F4EE;
}
.backgroundGreyC{
	background: #F8F8F8;
}
.themeColorHardGreen{
	color:#20817C;
}
.roundedCircleThemeColor{
	border:1px solid #284F4E;
}
.transparentBtnStyle{
	color:#296360;
	border:1px solid #296360!important;
}
.cardStyle{
	height:20px;
}
.loginIconMob{
	height:40px;
}
.headerAnimation{
	transition: all 0.7s;
}
.headerAnimationScroll{
	position: fixed;
	z-index: 9999;
	top:0;
	background: white;
	width: 100%;
}
.marginTopEffect{
	margin-top:200px;
}
.headerImageScrollEffect{
	margin-top:0px;
	border:1px solid transparent;
}